<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket Group Chat</title>
</head>
<body>
    
    <input type="text" name="userId" id="userId" placeholder="User Id" value="11221421"> <button onclick="startChat()"> Join </button>

    <br>

    <input type="text" name="partner" id="partner" placeholder="Group Id" value="41">
    <input type="text" name="msg" id="msg" placeholder="Message">
    <button onclick="eventChat()">Send</button>

    <p id="rawMsg"></p>

    <script src="socket.io/socket.io.js"></script>

    <script>
        var serverUrl = window.location.origin + '/';
        var socket = io(serverUrl, { 'transports': ['websocket'], 'reconnection': true, 'secure': true });

        socket.on('showError',function(data){
            console.log("error in socket", data);
        });

        /** START for Event Chat Message */
        socket.on('groupChat', function(data){
            document.getElementById('rawMsg').innerHTML += JSON.stringify(data);
        });
        /** END for Event Chat Message */

        function startChat(){
            let data = {
                'userId'    : document.getElementById("userId").value,
            };

            socket.emit('register', data);

        }

        function eventChat(){
            let data = {
                type: "TRIBE", // TRIBE || EVENT
                user_id: document.getElementById("userId").value,
                channel_id: document.getElementById("partner").value,
                message: document.getElementById("msg").value,
                cid: Math.random(99)
            };

            socket.emit('groupChat', data);
        }

   </script>

</body>
</html>