<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Prog</title>

    <style>
        html, body, .container {
            height: 100%;
        }

        .container {
            display: -webkit-flexbox;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            justify-content: center;
        }
    </style>

</head>
<body style="background-image: url('https://wallpaperaccess.com/full/322648.jpg');">


    <div class="container" style="padding-left: 5%;"> 
        <h1 style="color:red">EXIT FROM THIS PAGE, <br> ELSE ONLY YOU WILL BE RESPONSIBLE FOR WHAT HAPPENS WITH YOU.</h1>
    </div>
    
</body>
</html>